@use 'system/style/colors';

.screen-content {
  display: flex;
  flex-direction: column;

  padding: 10px;

  &_media-container {
    align-self: center;
  }

  &_title {
    margin-top: 12px;
    font-size: 1.8rem;
    font-weight: bold;
  }

  &_explanation {
    margin-top: 10px;
    font-size: 1.4rem;
  }

  &_credit {
    font-size: 1.2rem;
    text-align: right;

    &-title {
      font-weight: bold;
    }
  }
}