@font-face {
  font-family: Urbanist;
  font-size: normal;
  font-weight: 100 900;
  src: url('./Urbanist-VariableFont_wght.ttf') format('ttf');
}

@font-face {
  font-family: Urbanist;
  font-size: italic;
  font-weight: 100 900;
  src: url('./Urbanist-Italic-VariableFont_wght.ttf') format('ttf');
}