@use 'system/style/colors';

.header {
  height: 55px;
  background-color: colors.$branding;
  color: colors.$text--light;
  font-size: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;
}